body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
/* у тебя может быть переполненние твоего интерефейса, но это смотря что ты делать юудешь и как, если появится горизонтальнаяполоса прокрутки то пиши чо */
.interface {
    width: 30%;
    margin: 0;
    background: aliceblue;
    overflow: auto;
}

.canvas__container {
    /* я просто отодвинул одно от другого */
    margin-right: 0;
    width: 70%;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0);
}

#canvas {

}