* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
    height: 100vh;
}

#canvas {
    display: block;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
}